*{margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/****INDEX****/
    
.header{
    background-color: #673AB7;
    width: 100%;
    --bs-navbar-padding-y: 0rem;

}

.header-container{
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.55);
}

.header-texto{
    justify-content: end;
    font-family: 'Montserrat', sans-serif;
    font-weight: 410;
    color: white;
}

.header-texto:hover{
    font-weight: 440;
    color: #FF5722;
}


.img-logo{
    margin-left: 80px;
}

@media screen and (max-width:1080px) {
    .img-logo{
        margin-left: 60px;
    }
}
@media screen and (max-width:810px) {
    .img-logo{
        margin-left: 40px;
    }
}

@media only screen and (min-device-width: 480px) 
                   and (max-device-width: 640px) 
                   and (orientation: landscape){
    .img-logo{
        margin-left: 16px;
    }                
}


@media screen and (max-width:320px) {
    .img-logo{
        width: 162px;
        height: 60px;
    }
}

.contenedor{
    background-color: #673AB7;
}

@media screen and (max-width:710px) {
    .contenedor{
        background-color: #ffffff;
    }   
}

.background-hero{
    background-color: #ffffff;
    width: 100%;
    height: 101vh;
    border-radius: 100% 0% 0% 0%;
}

@media screen and (max-width:1080px){
    .background-hero{
        height: 80vh;    
    }
}

@media screen and (max-width:810px){
    .background-hero{
        height: 100vh;
    }   
}

@media screen and (max-width:710px) {
    .background-hero{
        height: 140vh;
    }   
}

@media screen and (max-width:670px) {
    .background-hero{
        height: 150vh;
    }   
}

@media only screen and (min-device-width: 480px) 
                   and (max-device-width: 640px) 
                   and (orientation: landscape){
    .background-hero{
            height: 100vh;
        }
}


/* .background-hero{
    background-image: url(../img/background-hero.png);
    width: 100%;
    height: 570px;
    background-size: cover;
} */


.container-hero{
    margin-top: 80px;
    padding-top: 11%;
    margin-left: 80px;
    margin-right: 80px;
    display: flex;
    flex-direction: row;
}

@media screen and (max-width:1080px) {
    .container-hero{
        margin-left: 60px;
        margin-right: 60px;
    }
}

@media screen and (max-width:810px){
    .container-hero{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}

@media screen and (max-width:710px) {
    .container-hero{
        margin-top: 40px;
    }
    
}

@media only screen and (min-device-width: 480px) 
                   and (max-device-width: 640px) 
                   and (orientation: landscape){
    .container-hero{
        margin-left: 3%;
        margin-right: 3%;
        margin-top: 80px;
    }   
}


.imagen-hero{
    width: 540px;
    height: 306px;
}

@media screen and (max-width:1080px){
    .imagen-hero{
        width: 359px;
        height: 204px;
    }
}

@media screen and (max-width:810px){
    .imagen-hero{
        align-self: center;
        margin-top: 9%;
        width: 470px;
        height: 267px;
    }
}

@media screen and (max-width:710px) {
    .imagen-hero{
        width: 350px;
        height: 198px;
    }
}

@media only screen and (min-device-width: 480px) 
                   and (max-device-width: 640px) 
                   and (orientation: landscape){
    .imagen-hero{
        width: 300px;
        height: 173px;
    }
}

@media screen and (max-width:320px) {
    .imagen-hero{
        width: 230px;
        height: 131px;
    }
}

.container-titulos{
    margin-left: 80px;
}

@media screen and (max-width:1080px) {
    .container-titulos{
        margin-left: 24px;
    }
}

@media screen and (max-width:710px) {
    .container-titulos{
        margin-left: 0px;
    }   
}


.titulo-hero{
    font-family: 'Montserrat', sans-serif;
    font-size: 60px;
    font-weight: bold;
    color: #FF5722;
}

@media screen and (max-width:1080px){
    .titulo-hero{
        font-size: 48px;
    }
}

@media screen and (max-width:810px){
    .titulo-hero{
        text-align: center;
        margin-top: 6%;
    }
}

@media screen and (max-width:710px) {
    .titulo-hero{
        font-size: 48px;
        margin-left: 2%;
        margin-right: 2%;
    }   
}

@media only screen and (min-device-width: 480px) 
                   and (max-device-width: 640px) 
                   and (orientation: landscape){
    .titulo-hero{
    font-size:46px ;
    margin-left: 0px;
    margin-right: 0px;

  }  
}

@media screen and (max-width:320px) {
    .titulo-hero{
        font-size: 32px;
        width: 100%;
    }
}

.q-analytics{
    color: #27047D;
    display: block;
}

@media screen and (max-width:810px){
    .q-analytics{
        display: inline-block;
    }
}


.subtitulo-hero{
    font-family: 'Montserrat', sans-serif;
    font-size: 22px;
    color: #607D8B;
    margin-top: 5%;
}

@media screen and (max-width:1080px) {
    .subtitulo-hero{
        font-size: 18px;
    }
    
}

@media screen and (max-width:810px){
    .subtitulo-hero{
        text-align: center;
        
    }
}

@media screen and (max-width:320px) {
    .subtitulo-hero{
        font-size: 16px;
        margin-top: 8%;
    }    
}

/****SERVICIOS****/

.titulo-servicios{
    font-family: 'Montserrat', sans-serif;
    font-size: 48px;
    font-weight: bold;
    text-align: center;
    margin-top: 3%;
    color: #27047D;
}

@media screen and (max-width:810px){
    .titulo-servicios{
        font-size: 42px;
        margin-top: 5%;
    }   
}

@media screen and (max-width:710px) {
    .titulo-servicios{
        margin-top: 10%;
    }   
}

@media only screen and (min-device-width: 480px) 
                   and (max-device-width: 640px) 
                   and (orientation: landscape){
    .titulo-servicios{
            margin-top: 1%;
            font-size: 44px;
    }
}

@media screen and (max-width:320px) {
    .titulo-servicios{
       font-size: 32px; 
    }
}
 
.caja-contenedora-card{
    display: flex;
    justify-content: space-between;
    margin-top: 2%;
    margin-left: 80px;
    margin-right: 80px;
    margin-bottom: 2%;
}

@media screen and (max-width:710px) {
    .caja-contenedora-card{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }   
}
 
@media only screen and (min-device-width: 480px) 
                   and (max-device-width: 640px) 
                   and (orientation: landscape){
    .caja-contenedora-card{
            margin-left: 16px;
            margin-right: 16px;
        }
}

.card-1{
    background-color: #ffffff;
    width: 416px;
    height: 250px;
    perspective: 1000px;
    margin: 8px;
    
}

@media screen and (max-width:1080px) {
    .card-1{
        width: 90%;
        height: auto;    
    }
}

@media screen and (max-width:810px){
    .card-1{
        width: 90%;
        height: auto;
    }
}

@media screen and (max-width:710px) {
    .card-1{
        width: 95%;
        height: auto;
        align-self: center;

    }   
}

@media only screen and (min-device-width: 480px) 
                   and (max-device-width: 640px) 
                   and (orientation: landscape){
    .card-1{
            width: 90%;
            height: auto;
        }
}

@media screen and (max-width:320px) {
    .card-1{
        margin-left: 16px;
        margin-right: 16px;
        width: 90%;
        height: auto;
    }   
}
.contenido{
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    border-radius: 10px;
    border: 1px solid #673AB7;
    box-shadow: 0px 4px 8px 0px gray;
        
}

.card-1:hover .contenido{
    transform: rotateY(180deg);
}

@media screen and (max-width:710px) {
    .card-1 .contenido{
        transform: rotateY(180deg);       
    }
    
}

.frente-card-1,
.dorso-card-1{
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    background-color: #ffffff;
    border-radius: 10px;
    
}

.dorso-card-1{
    background-color: #673AB7;
    color: white;
    transform: rotateY(180deg);
    padding-top: 30px;
    
}

@media screen and (max-width:1080px) {
    .dorso-card-1{
        position: relative;
        padding: 6%;
    }
}

@media screen and (max-width:710px) {
    .dorso-card-1{
        background-color: #ffffff;  
        padding: 6%;
    }
}

.imagen-card{
    margin-top: 48px;
}


@media screen and (max-width:810px){
    .imagen-card{
        margin-top: 50%;
        width: 65px;
        height: 65px;
    }
}

.titulo-card{
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    color: #FF5722;
    font-weight: bold;
    margin-top: 24px;
    margin-right: 24px;
    margin-left: 24px;
}

@media screen and (max-width:810px){
    .titulo-card{
        margin-left: 12px;
        margin-right: 12px;
        font-size: 20px;
    }
}

.texto-card-1{
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    color: #ffffff;
    margin-top: 20px;
    margin-right: 16px;
    margin-left: 16px;

}

@media screen and (max-width:810px){
    .texto-card-1{
        margin-top: 12px;
    }
}

@media screen and (max-width:710px) {
    .texto-card-1{
        color: #607D8B;
    }
}

.titulo-card-2{
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    color: #FF8C68;
    font-weight: bold;
    margin-top: 24px;
    margin-right: 24px;
    margin-left: 24px;
}

@media screen and (max-width:1080px) {
    .titulo-card-2{
        margin-top: 8px;
        margin-right: 32px;
        margin-left: 32px;
       
    }
}

@media screen and (max-width:810px){
    .titulo-card-2{
        font-size: 20px;
        margin-top: 8px;
        margin-left: 12px;
        margin-right: 12px;
    }
}

@media screen and (max-width:710px) {
    .titulo-card-2{
        color: #FF5722;
        margin-top: 0px;
    }
}

/****PORTFOLIO****/

.contenedor-portfolio{
    background-color: #FF5722;
    margin-left: 80px;
    margin-right: 80px;
    height: 500px;
    margin-top: 8%;
}

@media screen and (max-width:1080px){
    .contenedor-portfolio{
        margin-left: 60px;
        margin-right: 60px;
        height: 425px;
    }
    
}

@media screen and (max-width:810px){
    .contenedor-portfolio{
        height: 460px;
    }
}

@media screen and (max-width:710px) {
    .contenedor-portfolio{
        margin-left: 16px;
        margin-right: 16px;
        height: auto;
        
    }   
}

@media only screen and (min-device-width: 480px) 
                   and (max-device-width: 640px) 
                   and (orientation: landscape){
    .contenedor-portfolio{
            height: auto;
        }   
}

@media screen and (max-width:320px) {
 .contenedor-portfolio{
    height: 1100px;
 }   
}

.contenedor-carrusel{
    width: 100%;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    flex-wrap: nowrap;
    overflow-x: hidden;
    
}

.contenedor-card{
    width: 200%;
    display: flex;
    animation: carrusel 30s infinite linear;
    
}

@media screen and (max-width:710px) {
    .contenedor-card{
    width: 100%;
    display: flex;
    flex-direction: column;
    animation: none;
    
}
}

.contenedor-card-portfolio{
    display: flex;
    flex-direction: row;
    margin-left: 64px;
    margin-right: 64px;
    width: 100%;
    scroll-snap-align: start;
  
}

@media screen and (max-width:710px) {
    .contenedor-card-portfolio{
        padding: 5%;
    }    
}

@media only screen and (min-device-width: 480px) 
                   and (max-device-width: 640px) 
                   and (orientation: landscape){
    .contenedor-card-portfolio{
            display: flex;
            flex-direction: column;
            justify-content: center;
            padding: 7%;
        } 
}

.imagen-card-portfolio {
    width: 50%;
    align-self: center;
  }


@media only screen and (min-device-width: 480px) 
                and (max-device-width: 640px) 
                and (orientation: landscape){
    .imagen-card-portfolio{
            width: 100%;
            display: flex;
            justify-content: center;
        }
}  

.contenedor-card-portfolio img {
    width: 100%;
}

@media only screen and (min-device-width: 480px) 
                   and (max-device-width: 640px) 
                   and (orientation: landscape){
    .contenedor-card-portfolio img{
            width: 90%;
                
        }  
}

@keyframes carrusel {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-50%);
    }
  }

.titulo-portfolio{
    font-family: 'Montserrat', sans-serif ;
    font-size: 48px;
    font-weight: bold;
    color: #ffffff;
    text-align: center;
    padding: 48px;
}

@media screen and (max-width:810px){
    .titulo-portfolio{
        font-size: 42px;
    }   
}

@media screen and (max-width:710px) {
    .titulo-portfolio{
        padding: 32px;
    }   
}

@media only screen and (min-device-width: 480px) 
                   and (max-device-width: 640px) 
                   and (orientation: landscape){
    .titulo-portfolio{
            font-size: 44px;
        }
}

@media screen and (max-width:320px) {
    .titulo-portfolio{
        font-size: 32px;
        padding: 16px;
    }   
}


.titulo-card-portfolio{
    font-family: 'Montserrat', sans-serif;
    font-size: 32px;
    font-weight: bold;
    color: #573398;
    padding-left: 24px;
    margin-bottom: 16px;
    margin-top: 32px;
}

@media screen and (max-width:1080px) {
    .titulo-card-portfolio{
        font-size: 28px;
        margin-top: 0px;
    }
    
}

@media only screen and (min-device-width: 480px) 
                   and (max-device-width: 640px) 
                   and (orientation: landscape){
    .titulo-card-portfolio{
        display: flex;
        justify-content: space-around;
        text-align: center;
        padding-left:0px ;
        margin-top: 0%;
    } 
}

.texto-card-portfolio{
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    color: #ffffff;
    padding-left: 24px;
    
}

@media screen and (max-width:810px){
    .texto-card-portfolio{
        font-size: 14px;
    }

}

@media only screen and (min-device-width: 480px) 
                   and (max-device-width: 640px) 
                   and (orientation: landscape){
    .texto-card-portfolio{
            text-align: center;
            padding-left: 0px;
        }
}

.boton-ancla{
    display: inherit;
}

@media only screen and (min-device-width: 480px) 
                   and (max-device-width: 640px) 
                   and (orientation: landscape){
    .boton-ancla{
            display: flex;
            justify-content: center;
    }
}

.boton-card{
    font-family: 'Montserrat', sans-serif ;
    background-color: #673AB7;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 24px;  
}

@media only screen and (min-device-width: 480px) 
                   and (max-device-width: 640px) 
                   and (orientation: landscape){
    .boton-card{
            margin-left: 0px;
        }  
}

.boton-card:hover{
    background-color: #27047D;
    box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.521);
}


/****QUIENES SOMOS****/

.contenedor-quienes-somos{
    display: flex;
    flex-direction: row;
    padding: 80px;
    margin-top: 8%;
}

@media screen and (max-width:1080px) {
    .contenedor-quienes-somos{
        padding: 60px;
    }
}

@media screen and (max-width:810px){
    .contenedor-quienes-somos{
        display: flex;
        flex-direction: column-reverse;

    }
}

@media only screen and (min-device-width: 480px) 
                   and (max-device-width: 640px) 
                   and (orientation: landscape){
    .contenedor-quienes-somos{
            padding: 32px;
        }
}

@media screen and (max-width:320px) {
    .contenedor-quienes-somos{
        padding: 24px;
    }   
}

.imagen-quienes-somos{
    width: 540px;
    height: 383px;
}

@media screen and (max-width:1080px) {
    .imagen-quienes-somos{
        width: 336px;
        height: 238px;
        margin-top: 4%;
    }
}

@media screen and (max-width:810px){
    .imagen-quienes-somos{
        align-self: center;
    }
}

@media screen and (max-width:320px) {
    .imagen-quienes-somos{
        width: 230px;
        height: 163px;
    }
}

.titulo-quienes-somos{
    font-family:'Montserrat', sans-serif ;
    font-size: 48px;
    font-weight: bold;
    margin-left: 80px;
    margin-top: 6%;
    color: #FF5722;
}


@media screen and (max-width:1080px) {
    .titulo-quienes-somos{
        margin-top: 0%;
        margin-left: 48px;
    }
}

@media screen and (max-width:810px){
    .titulo-quienes-somos{
        font-size: 42px;
        text-align: center;
        margin-left: 0px;
    }
}

@media only screen and (min-device-width: 480px) 
                   and (max-device-width: 640px) 
                   and (orientation: landscape){
    .titulo-quienes-somos{
            font-size: 44px;
        }
}

@media screen and (max-width:320px) {
 .titulo-quienes-somos{
    font-size: 32px;
    
 }   
}

.texto-quienes-somos{
    font-family:'Montserrat', sans-serif ;
    font-size: 16px;
    font-weight: 500;
    color: #455A64;
    margin-left: 80px;
    margin-top: 3%;
}

@media screen and (max-width:1080px) {
    .texto-quienes-somos{
        margin-left: 48px;
        
    }
}

@media screen and (max-width:810px){
    .texto-quienes-somos{
        text-align: center;
        margin-left: 0px;
    }
}

@media only screen and (min-device-width: 480px) 
                   and (max-device-width: 640px) 
                   and (orientation: landscape){
    .texto-quienes-somos{
            margin-left: 0px;
        }   
}


/****CONTACTO****/


.contenedor-contacto{
    background-image: linear-gradient(to bottom, #673AB7, #27047D);
    width: 100%;
    height: 420px;
}

@media screen and (max-width:710px) {
    .contenedor-contacto{
        height: auto;
        
    }   
}

@media only screen and (min-device-width: 480px) 
                   and (max-device-width: 640px) 
                   and (orientation: landscape){
    .contenedor-contacto{
        background-image: linear-gradient(to bottom, #673AB7, #27047D);
        height: auto;
}
}

@media screen and (max-width:320px) {
    .contenedor-contacto{
        background-image: linear-gradient(to bottom, #673AB7, #27047D);
        height: auto;
    }   
}

.titulo-contacto{
    font-family:'Montserrat', sans-serif  ;
    font-size: 48px;
    font-weight: bold;
    color: #ffffff;
    text-align: center;
    margin-top: 8%;
    padding: 5%;
}

@media screen and (max-width:810px){
    .titulo-contacto{
        font-size: 42px;
        padding-top: 15%;
    }
}

@media screen and (max-width:710px) {
    .titulo-contacto{
        padding-top: 10%;
    }   
}

@media only screen and (min-device-width: 480px) 
                   and (max-device-width: 640px) 
                   and (orientation: landscape){
    .titulo-contacto{
            font-size: 44px;
        } 
}

@media screen and (max-width:320px) {
    .titulo-contacto{
        font-size: 32px;
    }
}

.contenedor-card-contacto{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
}

@media screen and (max-width:710px) {
    .contenedor-card-contacto{
        display: flex;
        flex-direction: column;
    }   
}


.card-contacto-1{
    width: 26%;
    height: auto;
    margin-left: 3%;
    margin-right: 3%;

}

@media screen and (max-width:1080px) {
    .card-contacto-1{
        width:22% ;
        height: 250px;
        align-items: center;
    }
}

@media screen and (max-width:810px){
    .card-contacto-1{
        height: 210px;
    }   
}

@media screen and (max-width:710px) {
    .card-contacto-1{
        width: 100%;
        height: auto;
        display: flex;
        justify-content: center;
        margin-left: 0%;
        margin-right: 0%;
        margin-top: 2%;
        margin-bottom: 1%;
    }   
}

@media only screen and (min-device-width: 480px) 
                   and (max-device-width: 640px) 
                   and (orientation: landscape){
    .card-contacto-1{
            width: 100%;
            height: auto;
            padding: 16px;
        }  
}

@media screen and (max-width:320px) {
    .card-contacto-1{
        width: 100%;
        height: 200px;
        padding: 16px;
        margin-left: 0%;
        margin-right: 0%;
        
    }   
}

.nombre-contacto{
    font-family: 'Montserrat', sans-serif ;
    font-size: 26px;
    font-weight: bold;
    color: #FF5722;
    display: inline-block;
}

@media screen and (max-width:810px){
    .nombre-contacto{
        font-size: 22px;
    }   
}

.educacion-contacto{
    font-family: 'Montserrat', sans-serif ;
    font-size: 24px;
    font-weight: bold;
    color: #ffffff;
    margin-bottom: 32px;
}

@media screen and (max-width:1080px) {
    .educacion-contacto{
        font-size: 16px;
        margin-bottom: 24px;
    }
    
}

.info-contacto{
    font-family: 'Montserrat', sans-serif ;
    font-size: 16px;
    margin-left: 24px;
    color: #ffffff;
}

@media screen and (max-width:1080px) {
    .info-contacto{
        margin-left: 0px;
        font-size: 14px;
    }
}

@media screen and (max-width:810px){
    .info-contacto{
        font-size: 11px;
    }   
}

@media screen and (max-width:710px) {
    .info-contacto{
        font-size: 16px;
    }
}

@media screen and (max-width:320px) {
    .info-contacto{
        font-size: 14px;
    }   
}
.iconos{
    display: flex;
    justify-content: center;
    
}

.iconos-yoyi{
    width: 64px;
    display: flex;
    justify-content: space-around;
}

.icono-contacto{
    color: #ffffff;
    font-size: 24px;
    margin-top: 16px;
}

.icono-contacto:hover{
    box-shadow: 0px 2px 4px 0px gray;
    color: #FF5722;
    cursor: pointer;
}

@media screen and (max-width:810px){
    .icono-contacto{
        font-size: 20px;
    }
}

.icono-contacto-1{
    color: #ffffff;
    font-size: 24px;
    display: inline-block;
    justify-content: center;
    margin-top: 16px;
}

.icono-contacto-1:hover{
    box-shadow: 0px 2px 4px 0px gray;
    color: #FF5722;
    cursor: pointer;
}

@media screen and (max-width:810px){
    .icono-contacto-1{
        font-size: 20px;
    }   
}

/**FOOTER**/

.footer{
    background-color: #27047D;
    width: 100%;
    height: 100px;
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    
}

@media screen and (max-width:710px) {
    .footer{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        height: auto;
    }
}


.imagen-footer{
    margin-left: 80px;
    display: block;
    justify-content: start;
    margin-top: 32px;
}

@media screen and (max-width:810px){
    .imagen-footer{
        margin-left: 5%;
    }   
}

@media screen and (max-width:710px) {
    .imagen-footer{
        width: 132px;
        height: 25px;
        margin-top: 20%;
        margin-left: 0%;
        
    }   
}

.copyright{
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    color: #ffffff;
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
    
}
.mobile-copy{
    display: none;
}
@media screen and (max-width:710px) {
    .copyright{
        margin-top: 24px;
        
    } 

    .desktop-copy{
        display: none;
    }

    .mobile-copy{
        display:inherit;
        margin-bottom: 8px;
    }
      
}

.copy{
    font-size: 16px;
    margin-right: 6px;
    
}

.icono-footer{
    font-size: 24px;
    padding-right: 6%;
    padding-left: 10%;
    color: #ffffff;
    margin-top: 24px;

}

@media screen and (max-width:710px) {
    .icono-footer{
        margin-top: 0px;
        padding-left: 0%;
        padding-right: 0%;
        margin-bottom: 0px;
    }   
}
.ancla{
    display: inline-block;
}

.icono-linkedin{
    font-size: 24px;
    color: #ffffff;
    margin-top: 16px;
}

@media screen and (max-width:710px) {
    .icono-linkedin{
        font-size: 20px;
    }
    
}

.icono-linkedin:hover{
    box-shadow: 0px 2px 4px 0px gray;
    color: #FF5722;
    cursor: pointer;
}

.icono-instagram{
    font-size: 24px;
    color: #ffffff;
    margin-top: 16px;
}

@media screen and (max-width:710px) {
    .icono-instagram{
        font-size: 20px;
    }   
    
}

.icono-instagram:hover{
    box-shadow: 0px 2px 4px 0px gray;
    color: #FF5722;
    cursor: pointer;
}

/****APP DE BODEGAS****/

.contenedor-principal{
    background-color: #673AB7;
}

@media screen and (max-width:710px) {
    .contenedor-principal{
        background-color: #ffffff;
    }   
}

/* .contenedor-app-de-vinos{
    background-image: url(../img/background-portfolio.png);
    width: 100%;
    background-repeat: no-repeat;
    margin-top: 80px;
} */

.contenedor-app-de-vinos{
    background-color: #ffffff;
    width: 100%;
    height: 101vh;
    border-radius: 0% 100% 0% 0%;
    margin-top: 80px;
}

@media screen and (max-width:1080px) {
    .contenedor-app-de-vinos{
        height: 80vh;
    }
}

@media screen and (max-width:810px){
    .contenedor-app-de-vinos{
        height: 70vh;
    }
}

@media screen and (max-width:710px) {
    .contenedor-app-de-vinos{
        height: 150vh;
    }   
}

@media only screen and (min-device-width: 480px) 
                   and (max-device-width: 640px) 
                   and (orientation: landscape){
    .contenedor-app-de-vinos{
            height: 110vh;
        } 
}

.contenedor-hero-app{
    display: flex;
    flex-direction: row;
    
}

@media screen and (max-width:710px) {
    .contenedor-hero-app{
        display: flex;
        flex-direction: column;
    }   
}


.contenedor-textos-app{
    padding: 11%;
}

@media screen and (max-width:710px) {
    .contenedor-textos-app{
        padding-top: 5%;
        padding-left: 5%;
        padding-right: 5%;
        padding-bottom: 0%;
    }  
}

@media only screen and (min-device-width: 480px) 
                   and (max-device-width: 640px) 
                   and (orientation: landscape){
    .contenedor-textos-app{
            padding-top: 40px;
            padding-left: 40px;
            padding-right: 40px;
            padding-bottom: 0px;
        }
}

.titulo-app{
    font-family:  'Montserrat', sans-serif;
    font-size: 64px;
    font-weight: bold;
    color: #FF5722;
}

@media screen and (max-width:1080px) {
    .titulo-app{
        font-size: 48px;
        margin-top: 5%;
    }
    
}

@media screen and (max-width:810px){
    .titulo-app{
        margin-top: 20%;
    }
}

@media screen and (max-width:710px) {
    .titulo-app{
        margin-top: 7%;
        text-align: center;
    }   
}

@media only screen and (min-device-width: 480px) 
                   and (max-device-width: 640px) 
                   and (orientation: landscape){
    .titulo-app{
            font-size: 46px;
            margin-top: 5%;
        }   
}

@media screen and (max-width:320px) {
    .titulo-app{
        font-size: 32px;
    }
}

.texto-app{
    font-family:  'Montserrat', sans-serif;
    font-size: 24px;
    font-weight: 500;
    color:#607D8B ;
    margin-top: 16px;
    
}

@media screen and (max-width:1080px){
    .texto-app{
        font-size: 18px;
    }
}

@media screen and (max-width:710px) {
    .texto-app{
        text-align: center;
    }   
}

@media only screen and (min-device-width: 480px) 
                   and (max-device-width: 640px) 
                   and (orientation: landscape){
    .texto-app{
            margin-top: 32px;
            margin-bottom: 32px;
        }   
}

@media screen and (max-width:320px){
    .texto-app{
        font-size: 16px;
    }
}

.boton-ancla-2{
    display: inherit;
}

@media screen and (max-width:710px) {
    .boton-ancla-2{
        display: flex;
        justify-content: center;
    }
    
}

.boton-app-portfolio{
    font-family: 'Montserrat', sans-serif ;
    background-color: #673AB7;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
        
}

.boton-app-portfolio:hover{
    background-color: #27047D;
    box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.521);
}


.imagen-bodega-app{
   display: inherit;
}

@media screen and (max-width:710px) {
    .imagen-bodega-app{
        display: flex;
        justify-content: center;
    }
}


.imagen-app{
    margin-right: 80px;
}

@media screen and (max-width:1080px){
    .imagen-app{
        width: 290px;
        height: 436px;
        margin-right: 45px;
    }
}

@media screen and (max-width:810px){
    .imagen-app{
        margin-top: 20%;
    }   
}

@media screen and (max-width:710px) {
    .imagen-app{
        margin-top: 0%;
        margin-right: 0px;
        width: 200px;
        height: 300px;
    }
}

@media screen and (max-width:320px) {
    .imagen-app{
        width: 233px;
        height: 349px;
        padding: 16px;
        margin-top: 0px;
        margin-right: 0px;
        align-self: center;
    }   
}

/**IMÁGENES - EXPLICACIÓN APP**/


.contenedor-app-1{
    display: flex;
    flex-direction: row;
    margin-left: 80px;
    margin-right: 80px;
    margin-top: 80px;
}

@media screen and (max-width:810px){
    .contenedor-app-1{
        margin-left: 7%;
        margin-right: 7%;
        align-items: center;
    }   
}

@media screen and (max-width:710px) {
    .contenedor-app-1{
        display: flex;
        flex-direction: column-reverse;
        margin-top: 3%;
    }
}
.contenedor-texto-app-1{
    display: block;
    margin-top: 7%;
}

@media screen and (max-width:1080px){
    .contenedor-texto-app-1{
        margin-top: 5%;
    }
}

@media screen and (max-width:810px){
    .contenedor-texto-app-1{
        margin-top: 0%;
    }   
}

@media screen and (max-width:710px) {
    .contenedor-texto-app-1{
        margin-top: 10%;
    }   
}

@media only screen and (min-device-width: 480px) 
                   and (max-device-width: 640px) 
                   and (orientation: landscape){
    .contenedor-texto-app-1{
            margin-top: 20%;
            
        }   
}

.imagen-app-bodega{
    width: 740px;
    height: 298px;
}

@media screen and (max-width:1080px){
    .imagen-app-bodega{
        width: 539px;
        height: 217px;
    }
}                                                                                                                                                   

@media screen and (max-width:810px){
    .imagen-app-bodega{
        width: 420px;
        height: 169px;
        
    }   
}

@media only screen and (min-device-width: 480px) 
                   and (max-device-width: 640px) 
                   and (orientation: landscape){
    .imagen-app-bodega{
            width: 340px;
            height: 137px;
            
        } 
}

.titulo-app-1{
    font-family:'Montserrat', sans-serif ;
    font-size: 48px;
    font-weight: bold;
    color: #FF5722;
    margin-left: 40px;
}

@media screen and (max-width:1080px){
    .titulo-app-1{
        font-size: 32px;
        margin-left: 32px;
    }
}

@media screen and (max-width:810px){
    .titulo-app-1{
        font-size: 28px;
    }   
}

@media screen and (max-width:710px) {
    .titulo-app-1{
        text-align: center;
        margin: 0px;
    }   
}


.texto-app-1{
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    font-weight: 500;
    color: #607D8B;
    margin-left: 40px;
}                           

@media screen and (max-width:1080px){
    .texto-app-1{
        font-size: 16px;
        margin-left: 32px;
    }
}

@media screen and (max-width:710px) {
    .texto-app-1{
        text-align: center;
        margin-top: 16px;
        margin-bottom: 16px;
        margin-left: 0%;
    }
}

.contenedor-app-2{
    display: flex;
    flex-direction: row;
    margin-left: 80px;
    margin-right: 80px;
    margin-top: 120px;
}

@media screen and (max-width:810px){
    .contenedor-app-2{
        margin-left: 7%;
        margin-right: 7%;
        align-items: center;
    }   
}

@media screen and (max-width:710px) {
    .contenedor-app-2{
        display: flex;
        flex-direction: column;
        margin-top: 0%;
    }   
}

.imagen-app-bodega-2{
    width: 740px;
    height: 308px;
}

@media screen and (max-width:1080px){
    .imagen-app-bodega-2{
        width: 539px;
        height: 225px;
    }
}

@media screen and (max-width:810px){
    .imagen-app-bodega-2{
        width: 420px;
        height: 175px;
    }
}

@media only screen and (min-device-width: 480px) 
                   and (max-device-width: 640px) 
                   and (orientation: landscape){
    .imagen-app-bodega-2{
            width: 340px;
            height: 142px;
        }   
}

.titulo-app-2{
    font-family:'Montserrat', sans-serif ;
    font-size: 48px;
    font-weight: bold;
    color: #FF5722;
    margin-right: 40px;
}

@media screen and (max-width:1080px){
    .titulo-app-2{
        font-size: 32px;
        margin-right: 32px;
    }
}

@media screen and (max-width:810px){
    .titulo-app-2{
        font-size: 28px;
        
    }   
}

@media screen and (max-width:710px) {
    .titulo-app-2{
        text-align: center;
        margin-right: 0%;
        margin-top: 0%;
        
    }   
}

.texto-app-2{
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    font-weight: 500;
    color: #607D8B;
    margin-right: 40px;
}

@media screen and (max-width:1080px){
    .texto-app-2{
        font-size: 16px;
        margin-right: 32px;
    }
}

@media screen and (max-width:710px) {
    .texto-app-2{
        margin-right: 0px;
        margin-top: 16px;
        margin-bottom: 16px;
        text-align: center;
    }
}

.contenedor-app-3{
    display: flex;
    flex-direction: row;
    margin-left: 80px;
    margin-right: 80px;
    margin-top: 120px;
}

@media screen and (max-width:810px){
    .contenedor-app-3{
        margin-left: 7%;
        margin-right: 7%;
        align-items: center;
    }   
}

@media screen and (max-width:710px) {
    .contenedor-app-3{
        display: flex;
        flex-direction: column-reverse;
        margin-top: 8%;
    }
}

@media only screen and (min-device-width: 480px) 
                   and (max-device-width: 640px) 
                   and (orientation: landscape){
    .contenedor-app-3{
            margin-top: 15%;
        }
}

.contenedor-texto-app-2{
    display: block;
    margin-top: 11%;
}

@media screen and (max-width:810px){
    .contenedor-texto-app-2{
        margin-top: 0px;
    }   
}


.imagen-app-bodega-3{
    width: 740px;
    height: 417px;
}



@media screen and (max-width:1080px){
    .imagen-app-bodega-3{
        width: 539px;
        height: 304px;
    }
}

@media screen and (max-width:810px){
    .imagen-app-bodega-3{
        width: 420px;
        height: 237px;
    }   
}

@media only screen and (min-device-width: 480px) 
                   and (max-device-width: 640px) 
                   and (orientation: landscape){
    .imagen-app-bodega-3{
            width: 340px;
            height: 192px;
        }   
}

.contenedor-portfolio-1{
    background-color: #FF5722;
    margin-top: 120px;
    margin-left: 80px;
    margin-right: 80px;
    height: 500px;
}

@media screen and (max-width:1080px) {
    .contenedor-portfolio-1{
        height: 450px;
    }
    
}

@media screen and (max-width:810px){
    .contenedor-portfolio-1{
        height: 500px;
    }   
}

@media screen and (max-width:710px) {
    .contenedor-portfolio-1{
        margin-left: 16px;
        margin-right: 16px;
        height: auto;
        padding-bottom: 10%;
    }   
}

@media only screen and (min-device-width: 480px) 
                   and (max-device-width: 640px) 
                   and (orientation: landscape){
    .contenedor-portfolio-1{
            
            height: 700px;
        }
}

.contenedor-card-portfolio-2{
    display: flex;
    flex-direction: row;
    margin-left: 64px;
    margin-right: 64px;
    
}

@media screen and (max-width:1080px){
    .contenedor-card-portfolio-2{
        margin-left: 48px;
        margin-right: 48px;
    }
}

@media only screen and (min-device-width: 480px) 
                   and (max-device-width: 640px) 
                   and (orientation: landscape){
    .contenedor-card-portfolio-2{
            display: flex;
            flex-direction: column;
        }   
}

.imagen-portfolio-bodega{
    width: 474px;
    height: 310px;
}

@media screen and (max-width:1080px){
    .imagen-portfolio-bodega{
        width: 400px;
        height: 250px;
        margin-top: 7%;
    }
}

@media screen and (max-width:810px){
    .imagen-portfolio-bodega{
        width: 270px;
        height: 180px;
    }   
}


.footer-portfolio{
    margin-top: 64px;
}

/**** APP PRECIOS CLAROS****/

.imagen-app-2{
    margin-right: 80px;
    margin-top: 48px;
}

@media screen and (max-width:1080px){
    .imagen-app-2{
        width: 370px;
        height: 370px;
        margin-right: 30px;
    }
}

@media screen and (max-width:810px){
    .imagen-app-2{
        width: 340px;
        height: 340px;
        margin-top: 30%;
    }   
}

@media screen and (max-width:710px) {
   .imagen-app-2{
    width: 250px;
    height: 250px;
    margin-top: 5%;
   } 
}

.imagen-app-precios-claros{
    width: 740px;
    height: 378px;
}

@media screen and (max-width:1080px){
    .imagen-app-precios-claros{
        width: 539px;
        height: 275px;
    }
}

@media screen and (max-width:810px){
    .imagen-app-precios-claros{
        width: 429px;
        height: 215px;    
    }  
}

@media only screen and (min-device-width: 480px) 
                   and (max-device-width: 640px) 
                   and (orientation: landscape){
    .imagen-app-precios-claros{
            width: 340px;
            height: 174px;
        }   
}

.imagen-app-precios-claros-2{
    width: 740px;
    height: 375px;
}

@media screen and (max-width:1080px){
    .imagen-app-precios-claros-2{
        width: 539px;
        height: 273px;
    }
}

@media screen and (max-width:810px){
    .imagen-app-precios-claros-2{
        width: 420px;
        height: 213px;
    }   
}

@media only screen and (min-device-width: 480px) 
                   and (max-device-width: 640px) 
                   and (orientation: landscape){
    .imagen-app-precios-claros-2{
            width: 340px;
            height: 173px;
        }   
}

.imagen-app-precios-claros-3{
    width: 740px;
    height: 408px;
}

@media screen and (max-width:1080px){
    .imagen-app-precios-claros-3{
        width: 539px;
        height: 298px;
    }
}

@media screen and (max-width:810px){
    .imagen-app-precios-claros-3{
        width: 420px;
        height: 232px;
    }   
}

@media only screen and (min-device-width: 480px) 
                   and (max-device-width: 640px) 
                   and (orientation: landscape){
    .imagen-app-precios-claros-3{
            width: 340px;
            height: 188px;
        }   
}


